<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        " http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ehcache.mapper.TbTableMapper">


    <select id="findById" resultType="com.ehcache.com.security.session.pojo.TbTable">
        select * from tb_table where id = #{id}
    </select>

</mapper>
