package $!destPackage;

import com.dgbiztech.erp.service.GenericServiceImpl;
import ${table.mapperPackage}.${table.entityName}Mapper;
import ${table.interfacServicePackge}.I${table.entityName}Service;
import com.dgbiztech.core.service.GenericService;
import com.alibaba.dubbo.com.security.distributed.order.config.annotation.Service;
import javax.annotation.Resource;
import ${table.modelPackge}.${table.entityName};


/*
 *
 * @ClassName ${table.entityName}Service
 * @Description ${table.remarks}
 * @Author $!table.get("author")
 * @Date $!table.get("date")
 * @version 1.0.0
 */
@Service
public class ${table.entityName}Service extends GenericServiceImpl<${table.entityName}, String> implements I${table.entityName}Service{

    @Resource
    private ${table.entityName}Mapper mapper;

    @Override
    public GenericDao<${table.entityName}, String> getDao() {
        return mapper;
    }

}
